STEAM_API_KEY=
STEAM_REALM=http://localhost:3000
STEAM_RETURN_URL=http://localhost:3000/auth/steam/return

WEB_URL=http://localhost:4200

MONGO_URI=mongodb://localhost:27017/steamcompass
REDIS_URL=redis://localhost:6379

JWT_SECRET=

ANTHROPIC_API_KEY=
